NODE_ENV=development
PORT=3000
DATABASE_URL="postgres://postgres:postgres@localhost:5433/infoapi?schema=public"
JWT_SECRET="your-secret-key"
JWT_EXPIRES_IN="24h"
REFRESH_TOKEN_DAYS="7"
P98="encrypted-password-98"
P99="encrypted-password-98"
P131="encrypted-password-98"
P104="encrypted-password-98"
CRYPTO_ENC="your-encryption-key"
CRYPTO_IV="your-initialization-vector"
CRYPTO_ALGO="your-encryption-algorithm"
GLITCHTIP_DSN="https://xxxx@app.glitchtip.com/xxx"
UPTIMEROBOT_APIKEY="xxxxx"
UPTIMEROBOT_MONITOR_ID="xxxxx"
UPTIMEROBOT_APIURL="https://api.uptimerobot.com/v3"